/* principal.css */
body {
    background-image: url('../images/goku.png'); /* certifique-se do nome arquivo */
    background-color: indigo;
    background-position: right top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 30%;
}

.container {
    width: 500px; /* Defina a largura do contêiner */
    background-color: #d8c7a3; /* Cor de fundo branca */
    padding: 30px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    align-items: center;
    text-align: center;
}

.container form label{
    font-size: 20px;
    text-shadow: black 1px 1px 1px;
}

.container form input[type="text"],
form input[type="password"]{
    background-color: darkorchid;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register{
    text-align: center;
}

.register label{
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register form input[type="text"],
form input[type="password"], form input[type="email"]{
    border: none;
    padding: 10px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    width: 30%;
}


h1 {
    font-family: cursive;
    border-style: dotted;
    border-radius: 10px;
    text-align: center;
    color: goldenrod;
    background-color: darkmagenta;
    padding: 10px;
}

fieldset {
    width: 50%;
    border: solid 5px;
    border-color: gold;
    font-size: 15px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    margin-bottom: 20px;
}

.form-control {
    padding: 6px 8px;
    width: calc(100% - 16px); /* Ajusta o tamanho para 100% menos o padding */
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.form-control:focus {
    background-color: lightpink;
}

textarea.form-control {
    resize: none;
    height: 150px; /* Ajusta a altura do textarea conforme necessário */
}

select.form-control {
    width: calc(100% - 16px); /* Ajusta o tamanho para 100% menos o padding */
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
}

input[type=submit], input[type=reset], button
 {
    background-color: darkorchid;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}

h2 {
    font-family: cursive;
    font-size: 56px;
    color: goldenrod;
    text-shadow: fuchsia 2px 2px;
    text-align: center;
}

img {
    width: 600px;
    height: 600px;
}

label {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

label span {
    font-weight: bold;
}

/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background-color: darkmagenta;
    color: goldenrod;
    font-family: 'Roboto', sans-serif; /* Aplicando Roboto na tabela */
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid goldenrod;
}

table th {
    background-color: goldenrod;
    color: darkmagenta;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: lightpink;
}
